@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=fallback');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid crimson; */
}

:root {
  --clr-dark-cyan: hsl(179, 81%, 29%);
  --clr-dark-grey-blue: hsl(215, 19%, 25%);
  --clr-pale-orange: hsl(25, 94%, 86%);
  --clr-light-cream: hsl(43, 78%, 98%);
  --clr-lighter-cream: hsl(40, 29%, 94%);
  --clr-grey: hsl(215, 5%, 54%);
  --clr-black: rgba(51, 61, 75, 1);

  --fnt-ff-heading: 'Fraunces', serif;
  --fnt-ff-body: 'Barlow', sans-serif;

  --fnt-size-900: 9.375rem;
  --fnt-size-850: 6rem;
  --fnt-size-800: 4.5rem;
  --fnt-size-700: 2.5rem;
  --fnt-size-500: 2rem;
  --fnt-size-400: 1.5rem;
  --fnt-size-300: 1rem;
  --fnt-size-200: 0.75rem;

  --spacer: 1rem;
  --measure: 35ch;
  --border-radius: 10px;

  --tablet-width: 768px;
}

body {
  font-family: var(--fnt-ff-body);
  padding: var(--spacer);
  color: var(--clr-dark-grey-blue);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fnt-ff-heading);
  line-height: 1;
}

h1 {
  font-size: var(--fnt-size-700);
}

h2 {
  line-height: 0.83;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  font-family: var(--fnt-ff-body);
  letter-spacing: 0.9px;
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 15px;
  color: var(--clr-grey);
}

header nav ul {
  display: none;
  list-style: none;
  gap: var(--spacer);
}

header nav ul a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--clr-grey);
}

header nav ul a:visited {
  color: var(--clr-grey);
}

header nav ul a:hover {
  color: rgba(51, 61, 75, 1);
}

@media (min-width: 768px) {
  :root {
    --spacer: 2.5rem;
  }

  header nav ul {
    display: flex;
    gap: 2rem;
  }
}

.burger-menu {
  display: none;
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 36%
  );
  padding: var(--spacer);
  min-height: 100%;
  min-width: 100%;
  margin: calc(var(--spacer) * -1);
}

.burger-menu nav {
  margin-top: 25%;
  font-size: var(--fnt-size-400);
}

.burger-menu li {
  list-style: none;
}

.burger-menu-header .logo img {
  max-height: 18px;
}

.burger-menu a {
  color: currentColor;
  font-family: var(--fnt-ff-heading);
  text-decoration: none;
}

.burger-close {
  border: 0;
  background-color: white;
}

.burger-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: var(--spacer);
}

.nav-toggle {
  background-color: transparent;
  border: none;
  padding: calc(var(--spacer) * 2);
  padding-right: 0;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

section {
  --space-multiply: 5;
  border-radius: var(--border-radius);
  padding-top: calc(var(--spacer) * var(--space-multiply, 1));
  padding-bottom: calc(var(--spacer) * var(--space-multiply, 1));
  line-height: 2;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

@media (min-width: 768px) {
  section {
    --space-multiply: 2;
  }
}

p {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

.dark-bg {
  color: hsla(43, 78%, 98%, 0.8);
}

.hero {
  background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: calc(var(--spacer) * 6);
  padding-bottom: calc(var(--spacer) * 6);
}

@media (min-width: 768px) {
  .hero {
    text-align: left;
    padding-left: var(--spacer);
    background-image: url('./assets/home/tablet/image-hero-coffeepress.jpg');
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-left: calc(var(--spacer) * 2);
  }

  .hero h1 {
    font-size: var(--fnt-size-800);
    max-width: 10ch;
    margin-bottom: var(--spacer);
  }

  .hero p {
    margin: 0;
  }

  .hero a {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image: url('./assets/home/desktop/image-hero-coffeepress.jpg');
    background-size: cover;
    background-position: 60% 0%;
    border-radius: var(--border-radius);
  }
}

.collection h2 {
  position: relative;
  font-size: var(--fnt-size-700);
  text-transform: lowercase;
  background-clip: text;
  -webkit-background-clip: text;
}

.collection h2::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100vw;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.00009) 0%,
    #fefcf7 100%
  );
  opacity: 0.8;
}

.collection img {
  height: 70%;
  width: 70%;
}

@media (min-width: 768px) {
  .collection h2 {
    font-size: var(--fnt-size-850);
    z-index: -1;
  }

  .collection-item:first-of-type {
    margin-top: calc(var(--spacer) * -0.5);
  }

  .collection-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 576px;
    margin-inline: auto;
  }

  .collection-item > div {
    text-align: left;
    margin-top: 0;
  }

  .collection-item img {
    width: 300px;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .collection-item h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .collection-item p {
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1440px) {
  .collection h2 {
    font-size: var(--fnt-size-900);
  }

  .collection-container {
    display: flex;
    --spacer: -1.5rem;
  }

  .collection-item {
    flex-direction: column;
  }

  .collection-item div {
    text-align: center;
  }

  .collection-item img {
    max-width: 256px;
  }
}

.choose-us {
  position: relative;
  color: var(--clr-light-cream);
}

.why-choose {
  background-color: var(--clr-dark-cyan);
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  background-position: center calc(var(--spacer) * 3);
  padding: calc(var(--spacer) * 2);
  margin: var(--spacer);

  padding-top: calc(var(--spacer) * 10);
  padding-bottom: calc(var(--spacer) * 6);
  border-radius: var(--border-radius);
}

.why-choose__icon {
  height: 72px;
  width: 72px;
  object-fit: contain;
}

.bg-blue {
  background: hsla(216, 17%, 21%, 1);
  border-radius: var(--border-radius);
  position: absolute;
  height: 58%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  margin-top: 0;
}

@media (min-width: 768px) {
  .why-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    --spacer: 0.5rem;
    margin-inline: auto;
    margin-block: var(--spacer);
    padding-block: calc(var(--spacer, 1rem) * 4);
    max-width: 573px;
  }

  .choose-us h2 {
    font-size: 2rem;
    padding-top: 4rem;
  }

  .choose-us-intro p {
    max-width: calc(var(--measure) * 1.75);
    margin-inline: auto;
  }

  .why-choose div {
    text-align: left;
  }

  .why-choose__icon {
    height: 56px;
    width: 56px;
  }

  .why-choose h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .why-choose p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
  .why-choose-container {
    display: flex;
  }

  .why-choose {
    padding-block: 6rem;
  }
}

.how-it-works .heading {
  color: var(--clr-grey);
}

.how-it-works__item .step-number {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-800);
  color: var(--clr-pale-orange);
}

@media (min-width: 768px) {
  .how-it-works__steps-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }

  .how-it-works {
    text-align: left;
  }

  .how-it-works h2 {
    font-size: 1.75rem;
  }

  .how-it-works .btn {
    display: flex;
    justify-content: center;
    width: 30%;
    padding-block: 1rem;
    margin-right: auto;
    margin-top: 3rem;
  }

  .how-it-works__item {
    flex: 1;
  }

  .how-it-works__item p,
  .how-it-works__item h3 {
    padding-right: 1.5rem;
    margin-left: 0;
  }

  .how-it-works__item h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    max-width: 10ch;
  }

  .how-it-works__item .step-number {
    position: relative;
    border-top: 1px solid var(--clr-pale-orange);
  }

  .how-it-works .step-number::before {
    content: '';
    position: absolute;
    background: white;
    top: -1rem;
    height: 30px;
    width: 30px;
    border: 1px solid var(--clr-dark-cyan);
    border-radius: 50%;
    z-index: 1;
  }

  .how-it-works__item:last-of-type .step-number {
    border-top: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(43, 78%, 98%);
  background-color: var(--clr-dark-grey-blue);
  font-family: var(--fnt-ff-body);
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  padding: 2rem 1rem;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  list-style: none;
}

footer a {
  color: var(--clr-grey);
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.social-icons {
  display: flex;
  fill: white;
  justify-content: center;
  align-items: center;
  font-size: var(--fnt-size-400);
  gap: calc(var(--spacer) * 2);
}

.social-icons svg {
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
  transition: fill 500ms ease-in;
}

.social-icons svg:hover {
  fill: var(--clr-pale-orange);
}

@media (min-width: 768px) {
  footer nav ul {
    flex-direction: row;
  }

  .social-icons {
    gap: var(--spacer);
  }
}

@media (min-width: 1440px) {
  footer {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-content: center;
    padding: 1rem;
  }

  footer > * {
    margin-top: 0;
  }

  footer div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    --spacer: 1.5rem;
  }

  footer .logo {
    margin-top: 0;
  }

  footer .social-icons {
    justify-content: flex-end;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    transform: translateY(-25%);
  }
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fnt-ff-heading);
  color: var(--clr-light-cream);
  background-color: var(--clr-dark-cyan);
  padding: 1em 1.5em;
}

.btn:active,
.btn:hover {
  background-color: #66d2cf;
}

.btn:disabled {
  background-color: hsl(215, 5%, 54%);
}

.flow > * + * {
  margin-top: calc(var(--spacer) * 2);
}

.flow\:small > * + * {
  margin-top: var(--spacer);
}

.flow\:smallest > * + * {
  margin-top: calc(var(--spacer) / 2);
}

.flow\:large > * + * {
  margin-top: calc(var(--spacer) * 3);
}

.flow\:largest > * + * {
  margin-top: calc(var(--spacer) * 3);
}

/* About Page */

.bg-about-us {
  background-image: url('./assets/about/mobile/image-hero-whitecup.jpg');
  background-size: cover;
}

.our-commitment {
  max-width: 700px;
  margin-inline: auto;
}

.commitment-img {
  height: 400px;
  width: 327px;
  background-image: url('/assets/about/mobile/image-commitment.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-inline: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.our-commitment h2 {
  font-size: 2rem;
  line-height: 3;
}

@media (min-width: 768px) {
  .bg-about-us {
    background-image: url('./assets/about/tablet/image-hero-whitecup.jpg');
  }

  .about-us {
    text-align: left;
    padding-left: 4rem;
  }

  .about-us h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about-us p {
    margin-left: 0;
    max-width: 55ch;
    line-height: 1.5;
  }

  .our-commitment {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .our-commitment h2 {
    font-size: 2rem;
    line-height: 3;
  }

  .commitment-img {
    height: 470px;
    width: 281px;
    background-image: url('/assets/about/tablet/image-commitment.jpg');
    background-size: contain;
    background-position: 50% 50%;
    align-self: center;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .bg-about-us {
    background-image: url('./assets/about/desktop/image-hero-whitecup.jpg');
  }

  .our-commitment {
    gap: 8rem;
    align-items: center;
    max-width: 1000px;
    margin-inline: auto;
  }

  .our-commitment div:nth-child(2) {
    margin-top: 0;
  }

  .our-commitment p {
    max-width: 540px;
  }

  .commitment-img {
    background-image: url('./assets/about/desktop/image-commitment.jpg');
    background-size: cover;
    height: 520px;
    width: 445px;
    border-radius: var(--border-radius);
    overflow: clip;
  }
}

.quality {
  position: relative;
  background-color: var(--clr-dark-grey-blue);
  margin-top: calc(var(--spacer) * 5);
  padding: 1rem;
  padding-bottom: calc(var(--spacer) * 5);
  overflow: visible;
}

.quality h2 {
  font-size: var(--fnt-size-500);
  line-height: 1;
  color: var(--clr-light-cream);
}

.quality p {
  max-width: 55ch;
  margin-inline: auto;
}

.quality-img {
  background-image: url('./assets/about/mobile/image-quality.jpg');
  background-size: cover;
  margin-top: -15%;
  margin-bottom: var(--spacer);
  margin-left: auto;
  margin-right: auto;
  width: 279px;
  height: 156px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

@media (min-width: 768px) {
  .quality-img {
    background-image: url('./assets/about/tablet/image-quality.jpg');
    width: 573px;
    height: 320px;
  }
}

@media (min-width: 1440px) {
  .quality {
    display: flex;
    text-align: left;
    padding-left: 4rem;
    padding-bottom: 1rem;
    max-width: 1111px;
    margin-inline: auto;
  }
  .quality-img {
    order: 1;
    background-image: url('./assets/about/desktop/image-quality.jpg');
    width: 445px;
    height: 474px;
    margin-right: 5%;
    margin-top: -10%;
  }
}

.addresses h2 {
  opacity: 0.5;
  padding-top: var(--spacer);
  padding-bottom: calc(var(--spacer) * 2);
}

.address {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: calc(var(--spacer) * 4);
  margin-bottom: var(--spacer);
  padding-bottom: calc(var(--spacer) * 2);
}

.address h3 {
  margin: var(--spacer);
}

.address p {
  line-height: 1.8;
}

.address.uk {
  background-image: url('./assets/about/desktop/illustration-uk.svg');
}
.address.ca {
  background-image: url('./assets/about/desktop/illustration-canada.svg');
}
.address.au {
  background-image: url('./assets/about/desktop/illustration-australia.svg');
}

@media (min-width: 768px) {
  .address-list {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .address {
    background-position: top left;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .addresses h2 {
    text-align: left;
  }

  .address.uk,
  .address.ca,
  .address.au {
    align-self: flex-start;
  }

  .address h3,
  p {
    margin-inline: 0;
  }
}

/* Plan */
.create-plan-hero h1 {
  color: var(--clr-light-cream);
}

.create-plan-bg {
  background-image: url('./assets/plan/mobile/image-hero-blackcup.jpg');
  background-size: cover;
}

.how-it-works-plan {
  background-color: var(--clr-dark-grey-blue);
  color: var(--clr-light-cream);
  margin-left: calc(var(--spacer) * -1);
  margin-right: calc(var(--spacer) * -1);
}

.how-it-works-plan h3 {
  font-size: var(--fnt-size-500);
  margin: calc(var(--spacer) / 2);
}

.how-it-works-plan .heading {
  color: var(--clr-grey);
}

.how-it-works-plan .step-number {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-800);
  color: var(--clr-pale-orange);
}

@media (min-width: 768px) {
  .how-it-works-plan--container {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-inline: var(--spacer);
  }

  .how-it-works-plan > * {
    flex: 1;
    margin-inline: 0;
  }

  .how-it-works-plan h3 {
    margin-left: 0;
    max-width: 8ch;
  }

  .how-it-works-plan .step-number {
    position: relative;
    border-top: 1px solid var(--clr-pale-orange);
  }

  .how-it-works-plan .step-number::before {
    content: '';
    position: absolute;
    background: transparent;
    top: -1rem;
    height: 30px;
    width: 30px;
    border: 1px solid var(--clr-dark-cyan);
    border-radius: 50%;
    z-index: 1;
  }

  .how-it-works-plan .how-it-works:last-of-type .step-number {
    border-top: none;
  }

  .how-it-works-plan .how-it-works:last-of-type .step-number::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: var(--clr-pale-orange);
  }

  .how-it-works-plan .how-it-works:first-of-type .step-number::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: var(--clr-dark-grey-blue);
    z-index: 1;
  }

  .how-it-works-plan .how-it-works p {
    padding-right: 3rem;
  }

  .create-plan-hero {
    text-align: left;
    padding-left: calc(var(--spacer) * 2);
  }
}

.toggle-show-btn {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fnt-ff-heading);
  background-color: transparent;
  padding: 1em;
  padding-right: 0;
  transform: rotate(0deg);
}

.toggle-show-btn:active,
.toggle-show-btn:hover {
  opacity: 0.6;
}

.toggle-show-btn:disabled {
  background-color: hsl(215, 5%, 54%);
}

.open .toggle-show-btn {
  padding-right: var(--spacer);
  padding-left: 0;
  transform: rotate(180deg);
}

.coffee-form {
  width: 100%;
}

.coffee-option {
  margin: var(--spacer);
}

.coffee-option ul {
  display: none;
  list-style: none;
}

.coffee-option.open ul {
  display: revert;
  /* background-color: var(--clr-light-cream); */
}

.coffee-option__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.coffee-option input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.coffee-option input[type='radio'] + label {
  display: block;
  padding: 1em;
  border-radius: 9px;
  cursor: pointer;
}

.coffee-option input[type='radio']:checked + label,
.coffee-option input[type='radio']:checked + label > h3 {
  color: white;
  background-color: var(--clr-dark-cyan);
}

.coffee-option__heading h3 {
  text-align: left;
  color: var(--clr-grey);
}

.coffee-option li {
  display: flex;
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 2);
  gap: var(--spacer);
  background-color: var(--clr-lighter-cream);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.coffee-option label {
  text-align: left;
  width: 100%;
}

.coffee-option label > h3 {
  color: var(--clr-dark-grey-blue);
}

.coffee-option label > p {
  margin-left: 0;
}

@media (min-width: 768px) {
  .coffee-option.open ul {
    display: flex;
    gap: calc(var(--spacer) / 4);
    margin-top: var(--spacer);
  }

  .coffee-option__heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .coffee-option label {
    margin-inline: 0;
    height: 100%;
  }

  .coffee-option h3 {
    font-size: 1.5rem;
  }
}

.order-summary {
  background-color: var(--clr-dark-grey-blue);
  font-size: var(--fnt-size-400);
  font-family: var(--fnt-ff-heading);
  text-align: left;
  color: hsl(43, 78%, 98%);
  padding: var(--spacer);
  padding-block-end: calc(var(--spacer) * 2);
  margin-top: calc(var(--spacer) * 6);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.order-summary h3 {
  color: var(--clr-grey);
  font-family: var(--fnt-ff-body);
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.order-summary span {
  color: var(--clr-dark-cyan);
  text-transform: capitalize;
}

.order-summary-modal.open {
  display: block;
}

.order-summary-modal {
  display: none;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.order-summary-modal .content {
  position: fixed;
  left: 50%;
  top: 40%;
  margin: var(--spacer);
  margin-bottom: auto;
  background-color: var(--clr-light-cream);
  text-align: left;
  border-radius: var(--border-radius);
  margin-bottom: auto;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.order-summary-modal h3 {
  color: white;
  font-size: var(--fnt-size-500);
  padding: calc(var(--spacer) * 2) var(--spacer);
  background-color: var(--clr-dark-grey-blue);
}

.order-summary-modal p {
  color: var(--clr-grey);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin-left: 0;
  line-height: 1.6;
}

.order-summary-modal p:first-of-type {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-400);
}

.order-summary-modal p span {
  color: var(--clr-dark-cyan);
  text-transform: capitalize;
}

.order-summary-modal .btn {
  display: block;
  width: calc(100% - calc(var(--spacer) * 2));
  font-size: var(--fnt-size-300);
  margin: var(--spacer);
}

.checkout-panel-wide {
  display: none;
  align-items: center;
  margin-top: 1rem;
}

.checkout-panel-wide .order-total {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-500);
}

.checkout-panel-wide span {
  margin-left: var(--spacer);
}

.checkout-panel-wide > * {
  flex: 1;
  margin: 0;
}

.checkout-panel-wide {
  margin-bottom: var(--spacer);
}

.plan-btn {
  padding: 1em 1.5em;
  font-size: var(--fnt-size-300);
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 4);
}

@media (min-width: 768px) {
  .order-summary {
    margin-top: calc(var(--spacer) * 2);
  }

  .coffee-option li {
    margin-top: 0;
    margin-bottom: 0;
  }

  .coffee-option input[type='radio'] + label {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .order-summary h3 {
    margin-top: 0;
  }

  .order-summary-modal .content {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70%;
    margin-bottom: auto;
    background-color: var(--clr-light-cream);
    text-align: left;
    border-radius: var(--border-radius);
    margin-bottom: auto;
    transform: translate(-50%, -50%);
  }

  .order-summary-modal .content p {
    max-width: 100%;
    margin-top: 1rem;
  }

  .checkout-panel-wide {
    display: flex;
  }

  .checkout-panel {
    display: none;
  }

  .plan-btn {
    font-size: 1.2rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 600px;
    margin-inline: auto;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1111px;
    margin-inline: auto;
  }
}
