@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@900&display=fallback');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid crimson; */
}

:root {
  --clr-dark-cyan: hsl(179, 81%, 29%);
  --clr-dark-grey-blue: hsl(215, 19%, 25%);
  --clr-pale-orange: hsl(25, 94%, 86%);
  --clr-light-cream: hsl(43, 78%, 98%);
  --clr-lighter-cream: hsl(40, 29%, 94%);
  --clr-grey: hsl(215, 5%, 54%);

  --fnt-ff-heading: 'Fraunces', serif;
  --fnt-ff-body: 'Barlow', sans-serif;

  --fnt-size-900: 9.375rem;
  --fnt-size-800: 4.5rem;
  --fnt-size-700: 2.5rem;
  --fnt-size-500: 2rem;
  --fnt-size-400: 1.5rem;
  --fnt-size-300: 1rem;
  --fnt-size-200: 0.75rem;

  --spacer: 1rem;
  --measure: 35ch;
  --border-radius: 10px;
}

body {
  font-family: var(--fnt-ff-body);
  padding: var(--spacer);
  color: var(--clr-dark-grey-blue);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fnt-ff-heading);
  line-height: 1;
}

h1 {
  font-size: var(--fnt-size-700);
}

h2 {
  line-height: 0.83;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  font-family: var(--fnt-ff-body);
  letter-spacing: 1;
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-grey);
}

header nav ul {
  display: none;
  list-style: none;
  gap: var(--spacer);
}

.nav-toggle {
  background-color: transparent;
  border: none;
  padding: calc(var(--spacer) * 2);
  padding-right: 0;
}

section {
  border-radius: var(--border-radius);
  padding-top: calc(var(--spacer) * 5);
  padding-bottom: calc(var(--spacer) * 5);
  line-height: 2;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

p {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

.dark-bg {
  color: hsla(43, 78%, 98%, 0.8);
}

.hero {
  background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: calc(var(--spacer) * 6);
  padding-bottom: calc(var(--spacer) * 6);
}

.collection h2 {
  position: relative;
  font-size: var(--fnt-size-700);
  text-transform: lowercase;
  -webkit-background-clip: text;
}

.collection h2::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.00009) 0%,
    #fefcf7 100%
  );
  opacity: 0.8;
}

.collection img {
  height: 70%;
  width: 70%;
}

.choose-us {
  background-color: hsla(216, 17%, 21%, 1);
  color: var(--clr-light-cream);
  height: 900px;
}

.why-choose {
  background-color: var(--clr-dark-cyan);
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  background-position: center calc(var(--spacer) * 3);
  padding: calc(var(--spacer) * 2);
  margin: var(--spacer);

  padding-top: calc(var(--spacer) * 10);
  padding-bottom: calc(var(--spacer) * 6);
  border-radius: var(--border-radius);
}

.why-choose.bg-bean {
  --bg-icon: url('./assets/home/desktop/icon-coffee-bean.svg');
}

.why-choose.bg-giftbox {
  --bg-icon: url('./assets/home/desktop/icon-gift.svg');
}

.why-choose.bg-van {
  --bg-icon: url('./assets/home/desktop/icon-truck.svg');
}

section.how-it-works {
  padding-top: 800px;
}

.how-it-works .heading {
  color: var(--clr-grey);
}

.how-it-works .step-number {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-800);
  color: var(--clr-pale-orange);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(43, 78%, 98%);
  background-color: var(--clr-dark-grey-blue);
  font-family: var(--fnt-ff-body);
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  padding: 2rem 1rem;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  list-style: none;
}

footer a {
  color: var(--clr-grey);
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: var(--fnt-size-400);
  gap: calc(var(--spacer) * 2);
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fnt-ff-heading);
  color: var(--clr-light-cream);
  background-color: var(--clr-dark-cyan);
  padding: 1em 1.5em;
}

.btn:active,
.btn:hover {
  background-color: #66d2cf;
}

.btn:disabled {
  background-color: hsl(215, 5%, 54%);
}

.flow > * + * {
  margin-top: calc(var(--spacer) * 2);
}

.flow\:small > * + * {
  margin-top: var(--spacer);
}

.flow\:smallest > * + * {
  margin-top: calc(var(--spacer) / 2);
}

.flow\:large > * + * {
  margin-top: calc(var(--spacer) * 3);
}

.flow\:largest > * + * {
  margin-top: calc(var(--spacer) * 3);
}

/* About Page */

.bg-about-us {
  background-image: url('./assets/about/mobile/image-hero-whitecup.jpg');
  background-size: cover;
}

.bg-commitment {
  background-image: url('./assets/about/mobile/image-commitment.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: var(--spacer);
  padding-top: 500px;
}

.quality {
  position: relative;
  background-color: var(--clr-dark-grey-blue);
  margin-top: calc(var(--spacer) * 5);
  padding: 1rem;
  padding-top: 10rem;
  overflow: visible;
}

.quality h2 {
  font-size: var(--fnt-size-500);
  line-height: 1;
  color: var(--clr-light-cream);
}

.quality::before {
  position: absolute;
  display: block;
  top: -15%;
  left: 2rem;
  content: '';
  background-image: url('./assets/about/mobile/image-quality.jpg');
  width: 279px;
  height: 156px;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: -78px;
  border-radius: var(--border-radius);
}

.addresses h2 {
  opacity: 0.5;
  padding-top: var(--spacer);
  padding-bottom: calc(var(--spacer) * 2);
}

.address {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: calc(var(--spacer) * 4);
  margin-bottom: var(--spacer);

  padding-bottom: calc(var(--spacer) * 2);
}

.address h3 {
  margin: var(--spacer);
}

.address p {
  line-height: 1.8;
}

.address.uk {
  background-image: url('./assets/about/desktop/illustration-uk.svg');
}
.address.ca {
  background-image: url('./assets/about/desktop/illustration-canada.svg');
}
.address.au {
  background-image: url('./assets/about/desktop/illustration-australia.svg');
}

/* Plan */
.create-plan-hero h1 {
  color: var(--clr-light-cream);
}

.create-plan-bg {
  background-image: url('./assets/plan/mobile/image-hero-blackcup.jpg');
  background-size: cover;
}

.how-it-works-plan {
  background-color: var(--clr-dark-grey-blue);
  color: var(--clr-light-cream);
  margin-left: calc(var(--spacer) * -1);
  margin-right: calc(var(--spacer) * -1);
}

.how-it-works-plan h3 {
  font-size: var(--fnt-size-500);
  margin: calc(var(--spacer) / 2);
}

.toggle-show-btn {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fnt-ff-heading);
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
}

.toggle-show-btn:active,
.toggle-show-btn:hover {
  opacity: 0.6;
}

.toggle-show-btn:disabled {
  background-color: hsl(215, 5%, 54%);
}

.toggle-show-btn {
  transform: rotate(0deg);
}

.open .toggle-show-btn {
  transform: rotate(180deg);
}

.coffee-form {
  width: 100%;
}

.coffee-option {
  margin: var(--spacer);
}

.coffee-option ul {
  display: none;
  list-style: none;
}

.coffee-option.open ul {
  display: revert;
  /* background-color: var(--clr-light-cream); */
}

.coffee-option__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.coffee-option input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.coffee-option input[type='radio'] + label {
  display: block;
  padding: 1em;
  border-radius: 9px;
}

.coffee-option input[type='radio']:checked + label,
.coffee-option input[type='radio']:checked + label > h3 {
  color: white;
  background-color: var(--clr-dark-cyan);
}

.coffee-option__heading h3 {
  text-align: left;
  color: var(--clr-grey);
}

.coffee-option li {
  display: flex;
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 2);
  gap: var(--spacer);
  background-color: var(--clr-lighter-cream);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.coffee-option label {
  text-align: left;
}

.coffee-option label > h3 {
  color: var(--clr-dark-grey-blue);
}

.order-summary {
  background-color: var(--clr-dark-grey-blue);
  font-size: var(--fnt-size-400);
  font-family: var(--fnt-ff-heading);
  text-align: left;
  color: hsl(43, 78%, 98%);
  padding: var(--spacer);
  padding-block-end: calc(var(--spacer) * 2);
  margin-top: calc(var(--spacer) * 6);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.order-summary h3 {
  color: var(--clr-grey);
  font-family: var(--fnt-ff-body);
  font-size: var(--fnt-size-200);
  text-transform: uppercase;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.order-summary span {
  color: var(--clr-dark-cyan);
}

.order-summary-modal {
  /* display: none; */
  background-color: var(--clr-light-cream);
  text-align: left;
  /* padding: var(--spacer); */
  border-radius: var(--border-radius);
  margin-bottom: var(--spacer);
  overflow: hidden;
}

.order-summary-modal h3 {
  color: white;
  font-size: var(--fnt-size-500);
  padding: calc(var(--spacer) * 2) var(--spacer);
  background-color: var(--clr-dark-grey-blue);
}

.order-summary-modal p {
  color: var(--clr-grey);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin-left: 0;
  line-height: 1.6;
}

.order-summary-modal p:first-of-type {
  font-family: var(--fnt-ff-heading);
  font-size: var(--fnt-size-400);
}

.order-summary-modal p span {
  color: var(--clr-dark-cyan);
}

.order-summary-modal .btn {
  display: block;
  width: calc(100% - calc(var(--spacer) * 2));
  font-size: var(--fnt-size-300);
  margin: var(--spacer);
}

.plan-btn {
  padding: 1em 1.5em;
  font-size: var(--fnt-size-300);
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 4);
}
